.mobile-logout-button-col {
    display: none;
}

#navbarTogglerDemo02 {
  transition: height .35s ease;
}

.header-mobile-logout-button {
  display: none;
}
 
.header-right-mobile {
  display: none;
}

@media only screen and (max-width: 991px) {
    .header-col {
      flex: unset;
    }
  
    .header-row * {
      width: auto;
    }
  
    .header-logout-button {
      display: none;
    }

    .header-right-no-mobile {
      display: none;
    }

    .logout-button-col {
      display: none;
    }
    .header-mobile-logout-button {
      display: block;
    }

    .header-right-mobile {
      display: block;
    }
  
    .mobile-logout-button-col {
      display: block;
    }
}